{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <h1>Login Form</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
 {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Login">
    </form>

</div>


{% endblock %}