{%extends 'base.html'%}
{% block content%}
    {% load crispy_forms_tags %}
 <div class="col-md-12">
  <div class="card-md-12">
  <br>
          <div class="card-body">
            <h2 class="card-title">{{instance.title}}</h2>
            <p class="card-text">{{instance.text_of_post}}</p>
            <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
          </div>
          <div class="card-footer text-muted">
            Posted on {{instance.created}},<br>
              last updated on {{instance.updated}},<br>
              Posted by:  {{instance.created_by}}
            <!--<a href="#">Start Bootstrap</a>-->
          </div>
     <div class="card-footer text-muted">
         {% if request.user == instance.created_by %}
         <a class="btn btn-warning" href="{% url 'topics:update' id=instance.pk %}"> Update Your Post</a>
         {% endif %}
         approved: {{instance.approved}}, dislikes: {{instance.likes.count}} likes: {{instance.dislikes.count}}

     </div>
  </div>
        </div>
    <br>
    <br>
    <div>

        <p class='lead'>Comments</p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='submit' value='Post comment' class='btn btn-success'>
        </form>
        {% else %}
        <p>You must login to comment </p>
        {% endif %}
        <hr/>
        {% for comment in comments %}

        <blockquote>
          <p>{{ comment.text }}</p>
          <footer>via {{ comment.created_by }} | {{ comment.created|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></footer>
          <div class='comment-reply'>
              {% for child_comment in comment.children %}
                <blockquote style="margin-left: 20px">
                <p>{{ child_comment.text }}</p>
                <footer>via {{ child_comment.created_by }} | {{ child_comment.created|timesince }} ago</footer>
                </blockquote>
             {% endfor %}
             {% if request.user.is_authenticated %}
            <form method="POST" action="."> {% csrf_token %}
                {{ comment_form|crispy }}
                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                <input type='submit' value='Reply' class='btn btn-success'>
            </form>
            {% else %}
        <p>You must login to comment </p>
        {% endif %}
        </div>

        </blockquote>

        <hr/>
        {% endfor %}
    </div>
{#    <h3>comments:</h3>#}

{%endblock%}