{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8">
{% for topic in topic_list %}
<div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ topic.title }}</h2>
              <a href="{{ topic.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
              by {{ topic.created_by }}, Topic: {{ topic.get_topic_of_post_display }}
          </div>
</div>
{% endfor %}
        </div>

    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>



        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Generic</a>
                  </li>
                  <li>
                    <a href="#">Help</a>
                  </li>
                  <li>
                    <a href="#">Asking for advice</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">My car</a>
                  </li>
                  <li>
                    <a href="#">Tips</a>
                  </li>
                  <li>
                    <a href="#">Informational</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>


{% endblock %}
