{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block content %}
<div class='col-sm-6'>
<h1>Create a new Post</h1>
<hr/>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-success' value='Submit' />
</form>
</div>
{% endblock content %}