{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container container-fluid">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

{{ user_form|crispy }}
<input class="btn btn-success" type="submit" name="" value="Register">

</form>
</div>




{% endblock %}